extends layout

block content
    h1 Hello
    h3 Choose your username
    // change localhost to IP of host for testing with multiple pc's
    form(action="http://192.168.0.2:3000/connect" method="GET")
            input(type='Text', id='username' name="username")
            br
            input(type='submit', id='submit', value='Connect')
