extends layout

block content
    h1 Hello
    h3 Choose your username
    form(action="/connect" method="GET")
            input(type='Text', id='username' name="username")
            br
            input(type='submit', id='submit', value='Connect')
