body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: black;
  background-color: darkgray;
}

a {
  color: #00B7FF;
}

#canvas {
  border: 5px solid black;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

#game-wrapper {
  width: 99%;
  height: 99%;
  margin: 0 auto;
  display: flex;;
}

#canvas-wrapper {
  width: 1200px;
  height: 600px;
}

p {
  font-size: 28px;
  white-space: nowrap;
}

form {
  width: 200px;
  margin: 0 auto;
}

input {
  margin-left: 15px;
}

button {
  margin-left: 15px;
}

#results-wrapper {
  width: 250px;
}

#body-wrapper {
  width: 100%;
  height: 100%;
}
