body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: black;
  background-color: darkgray;
}

a {
  color: #00B7FF;
}

#canvas {
  border: 5px solid black;
}

span {
  margin-left: 30px;
  font-size: 28px;
}

#results-wrapper {
  display: inline-block;
}
