extends layout

block content
    div zdr bepce (#{username})

    // make username accessible for onConnect.js (stupid jade)
    script(type='text/javascript').
        var username = !{JSON.stringify(username)}
        console.log(username)
        //load jquery
    script(src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
    // load fabricjs
    script(type='text/javascript', src="http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.6.4/fabric.min.js")
    // draw canvas
    canvas(id='canvas', width, height)
    // load the client handler needed to establish connection
    script(type='text/javascript' src='/javascripts/client_handlers/onConnect.js')
    //load canvas
    script(type='text/javascript' src='/javascripts/client_handlers/canvas.js')
    // load key listener
    script(type='text/javascript' src='/javascripts/client_handlers/onKeydown.js')
